# Check src/IServerConfig.ts for the fallback configuration values.

# This environment variable will overwrite the fallback port configuration.
NEST_PORT=3000

# This environment variable will overwrite the fallback logger configuration.
LOGSCRIBE_CONFIG=/path/to/log_config.json

# This environment variable will overwrite the fallback database configuration.
DATABASE_CONFIG=/path/to/db_config.json

# This environment variable will overwrite the fallback security configuration.
SECURITY_CONFIG=/path/to/security_config.json

# This environment variable will overwrite the fallback miscellaneous configuration.
MISC_CONFIG=/path/to/misc_config.json

# These environment variables will set the JWT's secret and expiration time.
# JASON in stead of JSON for the sake of a tiny bit of extra security.
JASON_WEB_TOKEN_SECRET=super_sexy_secret

# This environment variable will set the API key for the Swagger UI.
# SWAG in stead of SWAGGER for the sake of a tiny bit of extra security.
SWAG_API_KEY=swagger_secret

# This environment variable will set the SQLCipher's encryption key.
DATABASE_ENCRYPTION_KEY=super_sexy_encryption_key